<div id="filters">
    <a href="/listings"><div class="filter">
        <div>
            <i class="fa-solid fa-fire"></i>
        </div>
        <p>Trending</p>
    </div></a>
    <a href="/search?category=Iconic cities">
        <div class="filter">
            <div>
                <i class="fa-solid fa-mountain-city"></i>
            </div>
            <p>Iconic cities</p>
        </div>
    </a>
    <a href="/search?category=Mountains">
        <div class="filter">
            <div>
                <i class="fa-solid fa-mountain-sun"></i>
            </div>
            <p>Mountains</p>
        </div>
    </a>
    <a href="/search?category=Castles">
        <div class="filter">
            <div>
                <i class="fa-brands fa-fort-awesome"></i>
            </div>
            <p>Castles</p>
        </div>
    </a>
    <a href="/search?category=Amazing pools">
        <div class="filter">
            <div>
                <i class="fa-solid fa-person-swimming"></i>
            </div>
            <p>Amazing pools</p>
        </div>
    </a>
    <a href="/search?category=Camping">
        <div class="filter">
            <div>
                <i class="fa-solid fa-tents"></i>
            </div>
            <p>Camping</p>
        </div>
    </a>
    <a href="/search?category=Farms">
        <div class="filter">
            <div>
                <i class="fa-solid fa-cow"></i>
            </div>
            <p>Farms</p>
        </div>
    </a>
    <a href="/search?category=Arctic">
        <div class="filter">
            <div>
                <i class="fa-solid fa-snowflake"></i>
            </div>
            <p>Arctic</p>
        </div>
    </a>
    <a href="/search?category=Desert">
        <div class="filter">
            <div>
                <i class="fa-solid fa-sun"></i>
            </div>
            <p>Desert</p>
        </div>
    </a>

    <div class="tax-toggle">
       <div class="form-check-reverse form-switch ">
           <input type="checkbox" class="form-check-input" role="switch" id="flexSwitchCheckeDefault">
           <label for="flexSwitchCheckeDefault" class="form-check-label">Display Total after taxes </label>
        </div>
    </div>
</div>